<footer class="color-alt">
	<a href="{{ page.url | append: '#contact-form-dialog' | absolute_url }}">Contact</a>
	<hr />
	<div class="social-icons">
		<a href="{{ site.facebook | default: '#' }}" title="Facebook">
			{% include icon.html icon='facebook' class='icon' %}
		</a>
		<a href="{{ site.twitter | default: '#' }}" title="Twitter">
			{% include icon.html icon='twitter' class='icon' %}
		</a>
		<a href="{{ site.instagram | default: '#' }}" title="Instagram">
			<img src="{{ 'img/logos/instagram.svg' | absolute_url }}" alt="" class="icon" />
		</a>
		<a href="{{ site.youtube | default: '#' }}" title="YouTube">
			{% include icon.html icon='youtube' class='icon' %}
		</a>
		<a href="{{ site.google_plus | default: '#' }}" title="Google+">
			{% include icon.html icon='google+' class='icon' %}
		</a>
		<a href="{{ site.linkedin | default: '#' }}" title="Google+">
			{% include icon.html icon='linkedin' class='icon' %}
		</a>
		<a href="{{ site.yelp | default: '#' }}" title="Yelp">
			{% include icon.html icon='yelp' class='icon' %}
		</a>
		<a href="{{ site.feed.url | absolute_url }}" title="RSS Feed">
			{% include icon.html icon='rss' class='current-color icon' %}
		</a>
	</div>
	<div>
		&copy; {{ 'now' | date: '%Y' }}
	</div>
</footer>
