:root {

	/* http://paletton.com/#uid=33i0u0kgo+G5p+Ubx+LkJ+tp3ZI */

	--desktop-rem: 1.3vw;
	--tablet-rem: 1.5vw;
	--mobile-rem: 3.3vw;
	--font-display: auto;

	--header-background-full: url("../../img/cupcake-1920.jpg");
	--header-background-desktop: url("../../img/cupcake-1440.jpg");
	--header-background-laptop: url("../../img/cupcake-1280.jpg");
	--header-background-tablet: url("../../img/cupcake-800.jpg");
	--header-background-mobile: url("../../img/cupcake-400.jpg");
	--header-background-color: var(--accent-color);

	--button-background: var(--contrast-color);
	--button-active-background: #FF2828;
	--button-disabled-background: var(--button-active-color);
	--button-border: 2px solid var(--button-active-background);
	--button-active-border: 2px solid var(--button-background);
	--button-disabled-border: var(--button-active-border);
	--button-color: var(--alt-color);

	--primary-color: #DAFEFE;
	--accent-color: #7CFDFE;
	--alt-color: #fefefe;
	--contrast-color: #FF5252;
	--contrast-light-color: #FFD4D4;
	--link-color: inherit;

	--nav-height: 2.5rem;

	--main-font: Roboto;
	--title-font: Alice;
}
